<div class="layui-row layui-col-space5">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-text">
            <div class="content-block post post-link">
                <h2>ceshi3</h2>
                <p>
                    <a href="/article/index?cid=4&group=default">
                        <button class="layui-btn  layui-btn-xs">
                            社会百态                            </button>
                    </a>
                    2017-11-24 11:38:11                    </p>
                <hr class="layui-bg-gray">
                <p>33</p>                </div>
        </div>
    </div>
</div>
