<div class="header">
    <div class="layui-container layui-anim layui-anim-fadein ">
        <ul class="layui-nav"><li class="layui-nav-item layui-this"><a href="/one-stop/index">一站式</a></li>
            <li class="layui-nav-item"><a href="/article/list">周边游</a></li>
            <li class="layui-nav-item"><a href="/article/list">品质生活</a></li>
            <li class="layui-nav-item"><a href="/article/list">企业风貌</a></li>
            <li class="layui-nav-item"><a href="/article/list">社会百态</a></li>
            <li class="layui-nav-item"><a href="/article/code">码上好看</a></li>
            <li class="layui-nav-item"><a href="/article/list">社区秀</a></li>
            <li class="layui-nav-item"><a href="/article/list">本地政务</a></li>
            <li class="layui-nav-item"><a href="/article/list">安全知识</a></li>
        </ul>
    </div>
</div>