<div class="layui-row layui-col-space5">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-text">
            <div class="content-block post post-link">
                <h2><a style="color: black;" href="/article/detail?id=5&group=default">ceshi3</a></h2>
                <hr class="layui-bg-gray">
                <blockquote class="layui-elem-quote">33</blockquote>
            </div>
        </div>
        <div class="layui-text">
            <div class="content-block post post-link">
                <h2><a style="color: black;" href="/article/detail?id=1&group=default">测试</a></h2>
                <hr class="layui-bg-gray">
                <blockquote class="layui-elem-quote">测试</blockquote>
            </div>
        </div>
    </div>
</div>