<div class="layui-row layui-col-space5">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-text">
            <div class="content-block post post-link">
                <h2><a style="color: black;"
                       href="#">东莞  天气预报</a>
                </h2>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-11</div>
                        <div class="weather-tem">
                            7~16°C                                </div>
                        <div class="weather-info">
                            预计我市11日天气为多云                                    ，风量为：3-4级。<br/>
                            紫外线指数：弱                                    ，温馨提示：辐射较弱，涂擦SPF12-15、PA+护肤品                                    。<br/>
                            感冒指数：易发                                    ，温馨提示：昼夜温差很大，注意预防感冒                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-12</div>
                        <div class="weather-tem">
                            7~15°C                                </div>
                        <div class="weather-info">
                            预计我市12日天气为多云                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：弱                                    ，温馨提示：辐射较弱，涂擦SPF12-15、PA+护肤品                                    。<br/>
                            感冒指数：较易发                                    ，温馨提示：温差较大，较易感冒，注意防护                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-13</div>
                        <div class="weather-tem">
                            8~15°C                                </div>
                        <div class="weather-info">
                            预计我市13日天气为多云                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：弱                                    ，温馨提示：辐射较弱，涂擦SPF12-15、PA+护肤品                                    。<br/>
                            感冒指数：较易发                                    ，温馨提示：温差较大，较易感冒，注意防护                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-14</div>
                        <div class="weather-tem">
                            9~18°C                                </div>
                        <div class="weather-info">
                            预计我市14日天气为多云                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：弱                                    ，温馨提示：辐射较弱，涂擦SPF12-15、PA+护肤品                                    。<br/>
                            感冒指数：较易发                                    ，温馨提示：温差较大，较易感冒，注意防护                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-15</div>
                        <div class="weather-tem">
                            11~20°C                                </div>
                        <div class="weather-info">
                            预计我市15日天气为多云                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：弱                                    ，温馨提示：辐射较弱，涂擦SPF12-15、PA+护肤品                                    。<br/>
                            感冒指数：较易发                                    ，温馨提示：温差较大，较易感冒，注意防护                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/overcast.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-16</div>
                        <div class="weather-tem">
                            12~21°C                                </div>
                        <div class="weather-info">
                            预计我市16日天气为阴                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：最弱                                    ，温馨提示：辐射弱，涂擦SPF8-12防晒护肤品                                    。<br/>
                            感冒指数：较易发                                    ，温馨提示：温差较大，较易感冒，注意防护                                    。
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div class="weather-list">
                    <div class="weather-icon">
                        <img src="assets/images/cloudy.png"/>
                    </div>
                    <div class="weather-content">
                        <div class="weather-area">东莞   2018-01-17</div>
                        <div class="weather-tem">
                            15~22°C                                </div>
                        <div class="weather-info">
                            预计我市17日天气为阴转多云                                    ，风量为：&lt;3级。<br/>
                            紫外线指数：最弱                                    ，温馨提示：辐射弱，涂擦SPF8-12防晒护肤品                                    。<br/>
                            感冒指数：少发                                    ，温馨提示：无明显降温，感冒机率较低                                    。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
