<div class="index-total">
        <div class="container margin-top-container">
                <app-waterfall></app-waterfall>
                <div class="picScroll-top layui-anim layui-anim-upbit">
                        <div class="slide-title">
                                <div class="title-line"></div>
                                <p>本地政务</p>
                        </div>
                        <div class="bd">
                                <div class="tempWrap">
                                        <ul class="picList">
                                                <li>
                                                        <div class="pic"><a href="/article/detail" target="_blank"><img src="assets/images/news1.png"></a></div>
                                                        <div class="detail">
                                                                <div class="title"><a href="/article/detail" target="_blank">广州市示范城市调研组到区知识产权局</a></div>
                                                                <div class="time">发布于  2017-08-25 13:35:16</div>
                                                                <p>我区引进世界顶级生物医药项目打了一个漂亮的“闪电战”。</p>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="pic"><a href="/article/detail" target="_blank"><img src="assets/images/news1.png"></a></div>
                                                        <div class="detail">
                                                                <div class="title"><a href="/article/detail" target="_blank">美国冷泉港“闪电”牵手开发区</a></div>
                                                                <div class="time">发布于  2017-08-25 13:35:16</div>
                                                                <p>我区引进世界顶级生物医药项目打了一个漂亮的“闪电战”。</p>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="pic"><a href="/article/detail" target="_blank"><img src="assets/images/news1.png"></a></div>
                                                        <div class="detail">
                                                                <div class="title"><a href="/article/detail" target="_blank">广州市示范城市调研组到区知识产权局</a></div>
                                                                <div class="time">发布于  2017-08-25 13:35:16</div>
                                                                <p>我区引进世界顶级生物医药项目打了一个漂亮的“闪电战”。</p>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="pic"><a href="/article/detail" target="_blank"><img src="assets/images/news1.png"></a></div>
                                                        <div class="detail">
                                                                <div class="title"><a href="/article/detail" target="_blank">美国冷泉港“闪电”牵手开发区</a></div>
                                                                <div class="time">发布于  2017-08-25 13:35:16</div>
                                                                <p>我区引进世界顶级生物医药项目打了一个漂亮的“闪电战”。</p>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>
</div>
<router-outlet></router-outlet>
