<blockquote class="layui-elem-quote select-title">
    选择所办理业务的城市：    </blockquote>
<div class="layui-collapse select-city">
    <div>
        <h2 class="layui-colla-title select-city-title"><a href="/one-stop/index?group=default&city=%E5%B9%BF%E4%B8%9C%E7%9C%81">广东省</a></h2>
    </div>
</div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">广州市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E5%B9%BF%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">广州市</a>
                <a href="/one-stop/index?group=default&city=%E8%B6%8A%E7%A7%80%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">越秀区</a>
                <a href="/one-stop/index?group=default&city=%E6%B5%B7%E7%8F%A0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">海珠区</a>
                <a href="/one-stop/index?group=default&city=%E8%8D%94%E6%B9%BE%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">荔湾区</a>
                <a href="/one-stop/index?group=default&city=%E5%A4%A9%E6%B2%B3%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">天河区</a>
                <a href="/one-stop/index?group=default&city=%E7%99%BD%E4%BA%91%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">白云区</a>
                <a href="/one-stop/index?group=default&city=%E9%BB%84%E5%9F%94%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">黄埔区</a>
                <a href="/one-stop/index?group=default&city=%E7%95%AA%E7%A6%BA%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">番禺区</a>
                <a href="/one-stop/index?group=default&city=%E8%8A%B1%E9%83%BD%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">花都区</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%97%E6%B2%99%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">南沙区</a>
                <a href="/one-stop/index?group=default&city=%E8%90%9D%E5%B2%97%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">萝岗区</a>
                <a href="/one-stop/index?group=default&city=%E4%BB%8E%E5%8C%96%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">从化区</a>
                <a href="/one-stop/index?group=default&city=%E5%A2%9E%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">增城区</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">深圳市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B7%B1%E5%9C%B3%E5%B8%82" class="layui-btn  layui-btn-primary city-a">深圳市</a>
                <a href="/one-stop/index?group=default&city=%E7%BD%97%E6%B9%96%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">罗湖区</a>
                <a href="/one-stop/index?group=default&city=%E7%A6%8F%E7%94%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">福田区</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%97%E5%B1%B1%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">南山区</a>
                <a href="/one-stop/index?group=default&city=%E5%AE%9D%E5%AE%89%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">宝安区</a>
                <a href="/one-stop/index?group=default&city=%E9%BE%99%E5%B2%97%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">龙岗区</a>
                <a href="/one-stop/index?group=default&city=%E7%9B%90%E7%94%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">盐田区</a>
                <a href="/one-stop/index?group=default&city=%E9%BE%99%E5%8D%8E%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">龙华新区</a>
                <a href="/one-stop/index?group=default&city=%E5%85%89%E6%98%8E%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">光明新区</a>
                <a href="/one-stop/index?group=default&city=%E5%9D%AA%E5%B1%B1%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">坪山新区</a>
                <a href="/one-stop/index?group=default&city=%E5%A4%A7%E9%B9%8F%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">大鹏新区</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">汕头市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B1%95%E5%A4%B4%E5%B8%82" class="layui-btn  layui-btn-primary city-a">汕头市</a>
                <a href="/one-stop/index?group=default&city=%E9%87%91%E5%B9%B3%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">金平区</a>
                <a href="/one-stop/index?group=default&city=%E9%BE%99%E6%B9%96%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">龙湖区</a>
                <a href="/one-stop/index?group=default&city=%E6%BE%84%E6%B5%B7%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">澄海区</a>
                <a href="/one-stop/index?group=default&city=%E6%BF%A0%E6%B1%9F%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">濠江区</a>
                <a href="/one-stop/index?group=default&city=%E6%BD%AE%E9%98%B3%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">潮阳区</a>
                <a href="/one-stop/index?group=default&city=%E6%BD%AE%E5%8D%97%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">潮南区</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%97%E6%BE%B3%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">南澳县</a>
         </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">佛山市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E4%BD%9B%E5%B1%B1%E5%B8%82" class="layui-btn  layui-btn-primary city-a">佛山市</a>
                <a href="/one-stop/index?group=default&city=%E7%A6%85%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">禅城区</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%97%E6%B5%B7%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">南海区</a>
                <a href="/one-stop/index?group=default&city=%E4%B8%89%E6%B0%B4%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">三水区</a>
                <a href="/one-stop/index?group=default&city=%E9%AB%98%E6%98%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">高明区</a>
                <a href="/one-stop/index?group=default&city=%E4%BD%9B%E5%B1%B1%E6%96%B0%E5%9F%8E%E7%AE%A1%E5%A7%94%E4%BC%9A" class="layui-btn  layui-btn-primary city-a">佛山新城管委会</a>
          </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">韶关市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E9%9F%B6%E5%85%B3%E5%B8%82" class="layui-btn  layui-btn-primary city-a">韶关市</a>
                <a href="/one-stop/index?group=default&city=%E6%AD%A6%E6%B1%9F%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">武江区</a>
                <a href="/one-stop/index?group=default&city=%E6%B5%88%E6%B1%9F%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">浈江区</a>
                <a href="/one-stop/index?group=default&city=%E6%9B%B2%E6%B1%9F%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">曲江县</a>
                <a href="/one-stop/index?group=default&city=%E5%A7%8B%E5%85%B4%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">始兴县</a>
                <a href="/one-stop/index?group=default&city=%E4%BB%81%E5%8C%96%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">仁化县</a>
                <a href="/one-stop/index?group=default&city=%E7%BF%81%E6%BA%90%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">翁源县</a>
                <a href="/one-stop/index?group=default&city=%E4%B9%B3%E6%BA%90%E7%91%B6%E6%97%8F%E8%87%AA%E6%B2%BB%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">乳源瑶族自治县</a>
                <a href="/one-stop/index?group=default&city=%E6%96%B0%E4%B8%B0%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">新丰县</a>
                <a href="/one-stop/index?group=default&city=%E4%B9%90%E6%98%8C%E5%B8%82" class="layui-btn  layui-btn-primary city-a">乐昌市</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%97%E9%9B%84%E5%B8%82" class="layui-btn  layui-btn-primary city-a">南雄市</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">河源市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B2%B3%E6%BA%90%E5%B8%82" class="layui-btn  layui-btn-primary city-a">河源市</a>
                <a href="/one-stop/index?group=default&city=%E6%BA%90%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">源城区</a>
                <a href="/one-stop/index?group=default&city=%E7%B4%AB%E9%87%91%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">紫金县</a>
                <a href="/one-stop/index?group=default&city=%E9%BE%99%E5%B7%9D%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">龙川县</a>
                <a href="/one-stop/index?group=default&city=%E8%BF%9E%E5%B9%B3%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">连平县</a>
                <a href="/one-stop/index?group=default&city=%E5%92%8C%E5%B9%B3%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">和平县</a>
                <a href="/one-stop/index?group=default&city=%E4%B8%9C%E6%BA%90%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">东源县</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">梅州市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%A2%85%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">梅州市</a>
                <a href="/one-stop/index?group=default&city=%E6%A2%85%E6%B1%9F%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">梅江区</a>
                <a href="/one-stop/index?group=default&city=%E6%A2%85%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">梅县</a>
                <a href="/one-stop/index?group=default&city=%E5%A4%A7%E6%B5%A6%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">大浦县</a>
                <a href="/one-stop/index?group=default&city=%E4%B8%B0%E9%A1%BA%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">丰顺县</a>
                <a href="/one-stop/index?group=default&city=%E4%BA%94%E5%8D%8E%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">五华县</a>
                <a href="/one-stop/index?group=default&city=%E5%B9%B3%E8%BF%9C%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">平远县</a>
                <a href="/one-stop/index?group=default&city=%E8%95%89%E5%B2%AD%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">蕉岭县</a>
                <a href="/one-stop/index?group=default&city=%E5%85%B4%E5%AE%81%E5%B8%82" class="layui-btn  layui-btn-primary city-a">兴宁市</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">惠州市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%83%A0%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">惠州市</a>
                <a href="/one-stop/index?group=default&city=%E6%83%A0%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">惠城区</a>
                <a href="/one-stop/index?group=default&city=%E6%83%A0%E9%98%B3%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">惠阳区</a>
                <a href="/one-stop/index?group=default&city=%E5%A4%A7%E4%BA%9A%E6%B9%BE%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">大亚湾区</a>
                <a href="/one-stop/index?group=default&city=%E4%BB%B2%E6%81%BA%E9%AB%98%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">仲恺高新区</a>
                <a href="/one-stop/index?group=default&city=%E5%8D%9A%E7%BD%97%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">博罗县</a>
                <a href="/one-stop/index?group=default&city=%E6%83%A0%E4%B8%9C%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">惠东县</a>
                <a href="/one-stop/index?group=default&city=%E9%BE%99%E9%97%A8%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">龙门县</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">汕尾市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B1%95%E5%B0%BE%E5%B8%82" class="layui-btn  layui-btn-primary city-a">汕尾市</a>
                <a href="/one-stop/index?group=default&city=%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">城区</a>
                <a href="/one-stop/index?group=default&city=%E6%B5%B7%E4%B8%B0%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">海丰县</a>
                <a href="/one-stop/index?group=default&city=%E9%99%86%E6%B2%B3%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">陆河县</a>
                <a href="/one-stop/index?group=default&city=%E9%99%86%E4%B8%B0%E5%B8%82" class="layui-btn  layui-btn-primary city-a">陆丰市</a>
             </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">东莞市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E4%B8%9C%E8%8E%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">东莞市</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">中山市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E4%B8%AD%E5%B1%B1%E5%B8%82" class="layui-btn  layui-btn-primary city-a">中山市</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">江门市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B1%9F%E9%97%A8%E5%B8%82" class="layui-btn  layui-btn-primary city-a">江门市</a>
                <a href="/one-stop/index?group=default&city=%E8%93%AC%E6%B1%9F%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">蓬江区</a>
                <a href="/one-stop/index?group=default&city=%E6%B1%9F%E6%B5%B7%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">江海区</a>
                <a href="/one-stop/index?group=default&city=%E6%96%B0%E4%BC%9A%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">新会区</a>
                <a href="/one-stop/index?group=default&city=%E5%8F%B0%E5%B1%B1%E5%B8%82" class="layui-btn  layui-btn-primary city-a">台山市</a>
                <a href="/one-stop/index?group=default&city=%E5%BC%80%E5%B9%B3%E5%B8%82" class="layui-btn  layui-btn-primary city-a">开平市</a>
                <a href="/one-stop/index?group=default&city=%E9%B9%A4%E5%B1%B1%E5%B8%82" class="layui-btn  layui-btn-primary city-a">鹤山市</a>
                <a href="/one-stop/index?group=default&city=%E6%81%A9%E5%B9%B3%E5%B8%82" class="layui-btn  layui-btn-primary city-a">恩平市</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">阳江市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E9%98%B3%E6%B1%9F%E5%B8%82" class="layui-btn  layui-btn-primary city-a">阳江市</a>
                <a href="/one-stop/index?group=default&city=%E6%B1%9F%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">江城区</a>
                <a href="/one-stop/index?group=default&city=%E9%98%B3%E8%A5%BF%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">阳西县</a>
                <a href="/one-stop/index?group=default&city=%E9%98%B3%E4%B8%9C%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">阳东县</a>
                <a href="/one-stop/index?group=default&city=%E9%98%B3%E6%98%A5%E5%B8%82" class="layui-btn  layui-btn-primary city-a">阳春市</a>
                <a href="/one-stop/index?group=default&city=%E9%AB%98%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">高新区</a>
                <a href="/one-stop/index?group=default&city=%E6%B5%B7%E9%99%B5%E8%AF%95%E9%AA%8C%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">海陵试验区</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">湛江市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B9%9B%E6%B1%9F%E5%B8%82" class="layui-btn  layui-btn-primary city-a">湛江市</a>
                <a href="/one-stop/index?group=default&city=%E8%B5%A4%E5%9D%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">赤坎区</a>
                <a href="/one-stop/index?group=default&city=%E9%9C%9E%E5%B1%B1%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">霞山区</a>
                <a href="/one-stop/index?group=default&city=%E5%9D%A1%E5%A4%B4%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">坡头区</a>
                <a href="/one-stop/index?group=default&city=%E9%BA%BB%E7%AB%A0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">麻章区</a>
                <a href="/one-stop/index?group=default&city=%E9%81%82%E6%BA%AA%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">遂溪县</a>
                <a href="/one-stop/index?group=default&city=%E5%BE%90%E9%97%BB%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">徐闻县</a>
                <a href="/one-stop/index?group=default&city=%E5%BB%89%E6%B1%9F%E5%B8%82" class="layui-btn  layui-btn-primary city-a">廉江市</a>
                <a href="/one-stop/index?group=default&city=%E9%9B%B7%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">雷州市</a>
                <a href="/one-stop/index?group=default&city=%E5%90%B4%E5%B7%9D%E5%B8%82" class="layui-btn  layui-btn-primary city-a">吴川市</a>
                <a href="/one-stop/index?group=default&city=%E5%BC%80%E5%8F%91%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">开发区</a>
                <a href="/one-stop/index?group=default&city=%E5%A5%8B%E5%8B%87%E9%AB%98%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">奋勇高新区</a>
          </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">茂名市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E8%8C%82%E5%90%8D%E5%B8%82" class="layui-btn  layui-btn-primary city-a">茂名市</a>
                <a href="/one-stop/index?group=default&city=%E8%8C%82%E5%8D%97%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">茂南区</a>
                <a href="/one-stop/index?group=default&city=%E8%8C%82%E6%B8%AF%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">茂港区</a>
                <a href="/one-stop/index?group=default&city=%E7%94%B5%E7%99%BD%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">电白县</a>
                <a href="/one-stop/index?group=default&city=%E9%AB%98%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">高州市</a>
                <a href="/one-stop/index?group=default&city=%E5%8C%96%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">化州市</a>
                <a href="/one-stop/index?group=default&city=%E4%BF%A1%E5%AE%9C%E5%B8%82" class="layui-btn  layui-btn-primary city-a">信宜市</a>
          </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">肇庆市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E8%82%87%E5%BA%86%E5%B8%82" class="layui-btn  layui-btn-primary city-a">肇庆市</a>
                <a href="/one-stop/index?group=default&city=%E7%AB%AF%E5%B7%9E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">端州区</a>
                <a href="/one-stop/index?group=default&city=%E9%BC%8E%E6%B9%96%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">鼎湖区</a>
                <a href="/one-stop/index?group=default&city=%E5%B9%BF%E5%AE%81%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">广宁县</a>
                <a href="/one-stop/index?group=default&city=%E6%80%80%E9%9B%86%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">怀集县</a>
                <a href="/one-stop/index?group=default&city=%E5%B0%81%E5%BC%80%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">封开县</a>
                <a href="/one-stop/index?group=default&city=%E5%BE%B7%E5%BA%86%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">德庆县</a>
                <a href="/one-stop/index?group=default&city=%E9%AB%98%E8%A6%81%E5%B8%82" class="layui-btn  layui-btn-primary city-a">高要市</a>
                <a href="/one-stop/index?group=default&city=%E5%9B%9B%E4%BC%9A%E5%B8%82" class="layui-btn  layui-btn-primary city-a">四会市</a>
                <a href="/one-stop/index?group=default&city=%E9%AB%98%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">高新区</a>
                <a href="/one-stop/index?group=default&city=%E6%96%B0%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">新区</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">清远市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%B8%85%E8%BF%9C%E5%B8%82" class="layui-btn  layui-btn-primary city-a">清远市</a>
                <a href="/one-stop/index?group=default&city=%E6%B8%85%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">清城区</a>
                <a href="/one-stop/index?group=default&city=%E6%B8%85%E6%96%B0%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">清新县</a>
                <a href="/one-stop/index?group=default&city=%E8%8B%B1%E5%BE%B7%E5%B8%82" class="layui-btn  layui-btn-primary city-a">英德市</a>
                <a href="/one-stop/index?group=default&city=%E8%BF%9E%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">连州市</a>
                <a href="/one-stop/index?group=default&city=%E4%BD%9B%E5%86%88%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">佛冈县</a>
                <a href="/one-stop/index?group=default&city=%E8%BF%9E%E5%B1%B1%E5%A3%AE%E6%97%8F%E7%91%B6%E6%97%8F%E8%87%AA%E6%B2%BB%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">连山壮族瑶族自治县</a>
                <a href="/one-stop/index?group=default&city=%E8%BF%9E%E5%8D%97%E7%91%B6%E6%97%8F%E8%87%AA%E6%B2%BB%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">连南瑶族自治县</a>
                <a href="/one-stop/index?group=default&city=%E9%98%B3%E5%B1%B1%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">阳山县</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">潮州市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%BD%AE%E5%B7%9E%E5%B8%82" class="layui-btn  layui-btn-primary city-a">潮州市</a>
                <a href="/one-stop/index?group=default&city=%E6%B9%98%E6%A1%A5%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">湘桥区</a>
                <a href="/one-stop/index?group=default&city=%E6%BD%AE%E5%AE%89%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">潮安县</a>
                <a href="/one-stop/index?group=default&city=%E9%A5%B6%E5%B9%B3%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">饶平县</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">揭阳市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E6%8F%AD%E9%98%B3%E5%B8%82" class="layui-btn  layui-btn-primary city-a">揭阳市</a>
                <a href="/one-stop/index?group=default&city=%E6%A6%95%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">榕城区</a>
                <a href="/one-stop/index?group=default&city=%E6%8F%AD%E4%B8%9C%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">揭东区</a>
                <a href="/one-stop/index?group=default&city=%E6%8F%AD%E8%A5%BF%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">揭西县</a>
                <a href="/one-stop/index?group=default&city=%E6%83%A0%E6%9D%A5%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">惠来县</a>
                <a href="/one-stop/index?group=default&city=%E6%99%AE%E5%AE%81%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">普宁县</a>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">云浮市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E4%BA%91%E6%B5%AE%E5%B8%82" class="layui-btn  layui-btn-primary city-a">云浮市</a>
                <a href="/one-stop/index?group=default&city=%E4%BA%91%E5%9F%8E%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">云城区</a>
                <a href="/one-stop/index?group=default&city=%E6%96%B0%E5%85%B4%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">新兴县</a>
                <a href="/one-stop/index?group=default&city=%E9%83%81%E5%8D%97%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">郁南县</a>
                <a href="/one-stop/index?group=default&city=%E4%BA%91%E5%AE%89%E5%8E%BF" class="layui-btn  layui-btn-primary city-a">云安县</a>
                <a href="/one-stop/index?group=default&city=%E7%BD%97%E5%AE%9A%E5%B8%82" class="layui-btn  layui-btn-primary city-a">罗定市</a>
           </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <div class="layui-colla-item"><h2 class="layui-colla-title">顺德市</h2></div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="layui-colla-content .select-city">
                <a href="/one-stop/index?group=default&city=%E9%A1%BA%E5%BE%B7%E5%8C%BA" class="layui-btn  layui-btn-primary city-a">顺德区</a>
           </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>