<ngb-tabset>
    <ngb-tab >
        <ng-template ngbTabTitle>个人办事</ng-template>
        <ng-template ngbTabContent>
            <ul class="list-ul">
                <li>
                    <a href="/one-stop/select?group=default&cate=%E7%94%9F%E8%82%B2%E6%94%B6%E5%85%BB">
                        <img src="assets/images/onestop/sysy.png"/>
                        <p>生育收养</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%88%B7%E7%B1%8D">
                        <img src="assets/images/onestop/hj.png"/>
                        <p>户籍</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%95%99%E8%82%B2">
                        <img src="assets/images/onestop/jy.png"/>
                        <p>教育</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%8C%BB%E7%96%97">
                        <img src="assets/images/onestop/yl.png"/>
                        <p>医疗</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%87%BA%E5%85%A5%E5%A2%83">
                        <img src="assets/images/onestop/crj.png"/>
                        <p>出入境</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E7%A4%BE%E4%BC%9A%E6%95%91%E5%8A%A9">
                        <img src="assets/images/onestop/shjz.png"/>
                        <p>社会救助</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E4%BA%A4%E9%80%9A">
                        <img src="assets/images/onestop/jt.png"/>
                        <p>交通</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%96%87%E5%8C%96%E4%BD%93%E8%82%B2">
                        <img src="assets/images/onestop/whty.png"/>
                        <p>文化体育</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E7%9F%A5%E8%AF%86%E4%BA%A7%E6%9D%83">
                        <img src="assets/images/onestop/zscq.png"/>
                        <p>知识产权</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%85%B5%E5%BD%B9">
                        <img src="assets/images/onestop/by.png"/>
                        <p>兵役</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%B0%B1%E4%B8%9A">
                        <img src="assets/images/onestop/jy.png"/>
                        <p>就业</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E7%BA%B3%E7%A8%8E">
                        <img src="assets/images/onestop/ns.png"/>
                        <p>纳税</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E4%BD%8F%E6%88%BF">
                        <img src="assets/images/onestop/zf.png"/>
                        <p>住房</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%8F%B8%E6%B3%95%E5%85%AC%E8%AF%81">
                        <img src="assets/images/onestop/sfgz.png"/>
                        <p>司法公证</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%AD%BB%E4%BA%A1%E6%AE%A1%E8%91%AC">
                        <img src="assets/images/onestop/swbz.png"/>
                        <p>死亡殡葬</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%B0%91%E6%97%8F%E5%AE%97%E6%95%99">
                        <img src="assets/images/onestop/mzzj.png"/>
                        <p>民族宗教</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E7%A4%BE%E4%BF%9D">
                        <img src="assets/images/onestop/sb.png"/>
                        <p>社保</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%A9%9A%E5%A7%BB">
                        <img src="assets/images/onestop/hy.png"/>
                        <p>婚姻</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E8%81%8C%E4%B8%9A%E8%B5%84%E6%A0%BC">
                        <img src="assets/images/onestop/zyzg.png"/>
                        <p>职业资格</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E6%B6%88%E8%B4%B9%E7%BB%B4%E6%9D%83">
                        <img src="assets/images/onestop/xfwq.png"/>
                        <p>消费维权</p>
                    </a>
                </li>
                <li>
                    <a href="/one-stop/select?group=default&cate=%E5%85%B6%E4%BB%96">
                        <img src="assets/images/onestop/qt.png"/>
                        <p>其他</p>
                    </a>
                </li>
            </ul>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>企业办事</ng-template>
        <ng-template ngbTabContent>                <ul class="list-ul">
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E8%AE%BE%E7%AB%8B%E5%8F%98%E6%9B%B4">
                    <img src="assets/images/onestop/slbg.png"/>
                    <p>设立变更</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%B9%B4%E6%A3%80%E5%B9%B4%E5%AE%A1">
                    <img src="assets/images/onestop/njns.png"/>
                    <p>年检年审</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E8%B4%A2%E5%8A%A1%E7%A8%8E%E5%8A%A1">
                    <img src="assets/images/onestop/cwsw.png"/>
                    <p>财务税务</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%87%86%E8%90%A5%E5%87%86%E5%8A%9E">
                    <img src="assets/images/onestop/zyzb.png"/>
                    <p>准营准办</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%8F%B8%E6%B3%95%E5%85%AC%E6%AD%A3">
                    <img src="assets/images/onestop/sfgzheng.png"/>
                    <p>司法公正</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%BB%BA%E8%AE%BE%E7%AE%A1%E7%90%86">
                    <img src="assets/images/onestop/jsgl.png"/>
                    <p>建设管理</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%8A%B3%E5%8A%A8%E4%BF%9D%E9%9A%9C">
                    <img src="assets/images/onestop/ldbz.png"/>
                    <p>劳动保障</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90">
                    <img src="assets/images/onestop/rlzy.png"/>
                    <p>人力资源</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E6%96%B0%E9%97%BB%E5%B9%BF%E7%94%B5">
                    <img src="assets/images/onestop/xwgd.png"/>
                    <p>新闻广电</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E7%9F%A5%E8%AF%86%E4%BA%A7%E6%9D%83">
                    <img src="assets/images/onestop/zscq.png"/>
                    <p>知识产权</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E4%BA%A4%E9%80%9A%E8%BF%90%E8%BE%93">
                    <img src="assets/images/onestop/jtys.png"/>
                    <p>交通运输</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%8C%BB%E7%96%97%E5%8D%AB%E7%94%9F">
                    <img src="assets/images/onestop/ylws.png"/>
                    <p>医疗卫生</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E7%AB%8B%E9%A1%B9%E5%AE%A1%E6%89%B9">
                    <img src="assets/images/onestop/lxsp.png"/>
                    <p>立项审批</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E8%B5%84%E8%B4%A8%E8%AE%A4%E8%AF%81">
                    <img src="assets/images/onestop/zzrz.png"/>
                    <p>资质认证</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E9%87%91%E8%9E%8D%E6%8A%95%E8%B5%84">
                    <img src="assets/images/onestop/jrtz.png"/>
                    <p>金融投资</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%AF%B9%E5%A4%96%E4%BA%A4%E6%B5%81">
                    <img src="assets/images/onestop/dwjl.png"/>
                    <p>对外交流</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E6%B0%B4%E5%88%A9%E6%B0%B4%E5%8A%A1">
                    <img src="assets/images/onestop/slsw.png"/>
                    <p>水利水务</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%86%9C%E6%9E%97%E7%89%A7%E6%B8%94">
                    <img src="assets/images/onestop/nlmy.png"/>
                    <p>农林牧渔</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E8%B4%A8%E9%87%8F%E6%A3%80%E6%9F%A5">
                    <img src="assets/images/onestop/zljc.png"/>
                    <p>质量检查</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%AE%89%E5%85%A8%E9%98%B2%E6%8A%A4">
                    <img src="assets/images/onestop/aqfh.png"/>
                    <p>安全防护</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E7%8E%AF%E4%BF%9D%E7%BB%BF%E5%8C%96">
                    <img src="assets/images/onestop/hblh.png"/>
                    <p>环保绿化</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%9C%9F%E5%9C%B0%E6%88%BF%E4%BA%A7">
                    <img src="assets/images/onestop/tdfc.png"/>
                    <p>土地房产</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E7%A0%B4%E4%BA%A7%E6%B3%A8%E9%94%80">
                    <img src="assets/images/onestop/pczx.png"/>
                    <p>破产注销</p>
                </a>
            </li>
            <li>
                <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&cate=%E5%85%B6%E4%BB%96">
                    <img src="assets/images/onestop/qt.png"/>
                    <p>其他</p>
                </a>
            </li>
        </ul>

        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>部门服务</ng-template>
        <ng-template ngbTabContent><table class="layui-table service-table">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E4%B8%AD%E5%9B%BD%E6%B5%B7%E5%85%B3">中国海关</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%9B%A2%E5%B8%82%E5%A7%94">团市委</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E4%BA%A4%E9%80%9A%E5%A7%94%E5%91%98%E4%BC%9A">市交通委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90%E5%92%8C%E7%A4%BE%E4%BC%9A%E4%BF%9D%E9%9A%9C%E5%B1%80">市人力资源和社会保障局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E4%BD%8F%E6%88%BF%E5%85%AC%E7%A7%AF%E9%87%91%E7%AE%A1%E7%90%86%E4%B8%AD%E5%BF%83">市住房公积金管理中心</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E4%BE%A8%E5%8A%A1%E5%8A%9E%E5%85%AC%E5%AE%A4">市侨务办公室</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%85%AC%E5%AE%89%E5%B1%80">市公安局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%86%9C%E4%B8%9A%E5%B1%80">市农业局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%8D%8F%E4%BD%9C%E5%8A%9E">市协作办</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%8F%91%E5%B1%95%E5%92%8C%E6%94%B9%E9%9D%A9%E5%A7%94%E5%91%98%E4%BC%9A">市发展和改革委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%8F%B8%E6%B3%95%E5%B1%80">市司法局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%95%86%E5%8A%A1%E5%A7%94%E5%91%98%E4%BC%9A">市商务委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%9B%BD%E5%9C%9F%E8%A7%84%E5%88%92%E5%A7%94">市国土规划委</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%9B%BD%E5%AE%B6%E5%AE%89%E5%85%A8%E5%B1%80">市国家安全局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%9C%B0%E6%96%B9%E7%A8%8E%E5%8A%A1%E5%B1%80">市地方税务局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%9F%8E%E5%B8%82%E7%AE%A1%E7%90%86%E5%A7%94%E5%91%98%E4%BC%9A">市城市管理委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%AE%89%E5%85%A8%E7%94%9F%E4%BA%A7%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E5%B1%80">市安全生产监督管理局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%B7%A5%E4%B8%9A%E5%92%8C%E4%BF%A1%E6%81%AF%E5%8C%96%E5%A7%94%E5%91%98%E4%BC%9A">市工业和信息化委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E5%B7%A5%E5%95%86%E8%A1%8C%E6%94%BF%E7%AE%A1%E7%90%86%E5%B1%80">市工商行政管理局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%95%99%E8%82%B2%E5%B1%80">市教育局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%97%85%E6%B8%B8%E5%B1%80">市旅游局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%9E%97%E4%B8%9A%E5%92%8C%E5%9B%AD%E6%9E%97%E5%B1%80">市林业和园林局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%A1%A3%E6%A1%88%E5%B1%80">市档案局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%AE%8B%E8%81%94">市残联</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%B0%91%E6%94%BF%E5%B1%80">市民政局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%B0%91%E6%97%8F%E5%AE%97%E6%95%99%E4%BA%8B%E5%8A%A1%E5%B1%80">市民族宗教事务局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E6%B0%B4%E5%8A%A1%E5%B1%80">市水务局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E7%8E%AF%E5%A2%83%E4%BF%9D%E6%8A%A4%E5%B1%80">市环境保护局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E7%9F%A5%E8%AF%86%E4%BA%A7%E6%9D%83%E5%B1%80">市知识产权局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E8%B4%A2%E6%94%BF%E5%B1%80">市财政局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E8%B4%A8%E9%87%8F%E6%8A%80%E6%9C%AF%E7%9B%91%E7%9D%A3%E5%B1%80">市质量技术监督局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E9%87%91%E8%9E%8D%E5%B1%80">市金融局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B8%82%E9%A3%9F%E5%93%81%E8%8D%AF%E5%93%81%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E5%B1%80">市食品药品监督管理局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%87%BA%E5%85%A5%E5%A2%83%E6%A3%80%E9%AA%8C%E6%A3%80%E7%96%AB%E5%B1%80">广州出入境检验检疫局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E4%BA%8B%E4%B8%9A%E5%8D%95%E4%BD%8D%E7%AE%A1%E7%90%86%E5%B1%80">广州市事业单位管理局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E4%BD%8F%E6%88%BF%E5%92%8C%E5%9F%8E%E4%B9%A1%E5%BB%BA%E8%AE%BE%E5%A7%94%E5%91%98%E4%BC%9A">广州市住房和城乡建设委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E5%8D%AB%E7%94%9F%E5%92%8C%E8%AE%A1%E5%88%92%E7%94%9F%E8%82%B2%E5%A7%94%E5%91%98%E4%BC%9A">广州市卫生和计划生育委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E5%9F%8E%E5%B8%82%E6%9B%B4%E6%96%B0%E5%B1%80">广州市城市更新局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E6%94%BF%E5%8A%A1%E7%AE%A1%E7%90%86%E5%8A%9E%E5%85%AC%E5%AE%A4">广州市政务管理办公室</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E6%96%87%E5%8C%96%E5%B9%BF%E7%94%B5%E6%96%B0%E9%97%BB%E5%87%BA%E7%89%88%E5%B1%80">广州市文化广电新闻出版局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E6%B0%91%E9%98%B2%E5%8A%9E%E5%85%AC%E5%AE%A4">广州市民防办公室</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E6%B0%94%E8%B1%A1%E5%B1%80">广州市气象局</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E7%A7%91%E6%8A%80%E5%88%9B%E6%96%B0%E5%A7%94%E5%91%98%E4%BC%9A">广州市科技创新委员会</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E5%B8%82%E9%80%9A%E4%BF%A1%E5%BB%BA%E8%AE%BE%E7%AE%A1%E7%90%86%E5%8A%9E%E5%85%AC%E5%AE%A4">广州市通信建设管理办公室</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/one-stop/select?city=%E5%B9%BF%E5%B7%9E%E5%B8%82&group=default&department=%E5%B9%BF%E5%B7%9E%E6%B8%AF%E5%8A%A1%E5%B1%80">广州港务局</a>
                </td>
            </tr>
            </tbody>
        </table>

        </ng-template>
    </ngb-tab>
    <ngb-tab [disabled]="true">
        <ng-template ngbTabTitle>
            <a href="/one-stop/select-region?group=default" class="select-city-a">
            选择城市                    <i class="layui-icon yzs-select-city-icon">&#xe61a;</i>
            </a>
        </ng-template>
        <ng-template ngbTabContent>
        </ng-template>
    </ngb-tab>
</ngb-tabset>