<div class="layui-anim layui-anim-scaleSpring fall-slide-total">
    <a href="/article/weather">
        <div class="fall-weather fall-list margin-right2" id="fall-weather" >
            <div class="weather-main-icon">
                <img src="assets/images/weather-icon.png"/>
            </div>
            <div class="weather-detail">
                <div class="weather-icon">
                    <img src="assets/images/cloudy.png" />
                </div>
                <div class="weather-content">
                    <div class="weather-content-title">今天</div>
                    <div class="weather-content-area">东莞</div>
                    <span>6~15°C</span>
                </div>
            </div>
        </div>
    </a>
    <a href="/one-stop/index">
        <div class="rectangle fall-list pink margin-right2" id="first-rectangle" name="rectangle">
            <div class="fall-icon">
                <img src="assets/images/icon1.png"/>
            </div>
            <div class="fall-text">一站式</div>
        </div>
    </a>
    <a href="/article/list?cid=1&group=default">
        <div class="rectangle fall-list simple-blue" name="rectangle">
            <div class="fall-icon">
                <img src="assets/images/icon2.png"/>
            </div>
            <div class="fall-text">周边游</div>
        </div>
    </a>
    <a href="/article/list?cid=2&group=default">
        <div class="square fall-list green margin-right2" name="square">
            <div class="fall-icon">
                <img src="assets/images/icon3.png"/>
            </div>
            <div class="fall-text">品质生活</div>
        </div>
    </a>
    <a href="/article/list?cid=3&group=default">
        <div class="square fall-list simple-blue margin-right2" name="square">
            <div class="fall-icon">
                <img src="assets/images/icon4.png"/>
            </div>
            <div class="fall-text">企业风貌</div>
        </div>
    </a>
    <a href="/article/list?cid=4&group=default">
        <div class="rectangle fall-list simple-green" name="rectangle">
            <div class="fall-icon">
                <img src="assets/images/icon5.png"/>
            </div>
            <div class="fall-text">社会百态</div>
        </div>
    </a><div class="layui-clear"></div>
    <a href="/article/list?cid=5&group=default">
        <div class="square fall-list rose-red margin-right2" name="square">
            <div class="fall-icon">
                <img src="assets/images/icon6.png"/>
            </div>
            <div class="fall-text">码上好看</div>
        </div>
    </a>
    <a href="/article/list?cid=6&group=default">
        <div class="rectangle fall-list orange margin-right2" name="rectangle">
            <div class="fall-icon">
                <img src="assets/images/icon7.png"/>
            </div>
            <div class="fall-text">社区秀</div>
        </div>
    </a>
    <a href="/article/list?cid=7&group=default">
        <div class="rectangle fall-list deep-green margin-right2" name="rectangle">
            <div class="fall-icon">
                <img src="assets/images/icon8.png"/>
            </div>
            <div class="fall-text">本地政务</div>
        </div>
    </a>
    <a href="/article/list?cid=8&group=default">
        <div class="square fall-list little-green" name="square">
            <div class="fall-icon">
                <img src="assets/images/icon9.png"/>
            </div>
            <div class="fall-text">安全知识</div>
        </div>
    </a>
</div>
<div class="layui-clear"></div>