<table class="layui-table">
    <colgroup>
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td>主管部门：广东省司法厅</td>
    </tr>
    <tr>
        <td>事项名称：法律援助律师执业许可</td>
    </tr>
    <tr>
        <td><a class="layui-btn layui-btn-radius layui-btn-primary yzs-apply-a"
               href="#">申办</a></td>
    </tr>
    <tr>
        <td>
            <p><img class="yzs-detail-p-image"
                    src="assets/images/onestop/i-dead-line.png"/>
                承诺期限：                                            1、地级以上市司法局（简称“受理申请机关”）应当自决定受理申请之日起20日内，对申请人是否符合法定条件、提交的材料是否真实齐全出具审查意见，并将审查意见和全部申请材料报送省司法厅审核；                                            2、 省司法厅应当自收到受理申请机关报送的审查意见和全部申请材料之日起10日内予以审核，作出是否准予执业的决定；                                            3、准予执业的，应当自决定之日起10日内向申请人颁发律师工作证书。
            </p>
            <p><img class="yzs-detail-p-image" src="assets/images/onestop/i-dolor.png"/>不收费                </p>
        </td>
    </tr>
    </tbody>
</table>
<div class="layui-collapse select-city">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-window.png"/>窗口信息            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    <table class="layui-table">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>窗口地址：广州市白云区政民路51号15楼律师工作管理处
                            </td>
                        </tr>
                        <tr>
                            <td>办公时间：星期一～星期五（上午：8:30—12:00，下午：14:00—17:00），法定假日除外。
                            </td>
                        </tr>
                        <tr>
                            <td>联系电话:                                                            <a href="tel:020-86351130">
                                020-86351130                                </a>
                                <a href="tel:020-86351219">
                                    020-86351219                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-object.png"/>受理对象            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    符合办理条件申请人            </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-condition.png"/>受理条件            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    （一）申请律师执业，应当具备下列条件： <BR>1、拥护中华人民共和国宪法； <BR>2、通过国家统一司法考试取得法律职业资格证书； <BR>3、在律师事务所实习满一年，并经律师协会考核合格；<BR>4、品行良好。 <BR>实行国家统一司法考试前取得的律师资格证书，在申请律师执业时，与国家统一司法考试合格证书具有同等效力。享受国家统一司法考试有关报名条件、考试合格优惠措施，取得法律职业资格证书的，其申请律师执业的地域限制，按照有关规定办理。<BR>（二）有下列情形之一的人员，不得从事律师职业： <BR>1、无民事行为能力或者限制民事行为能力的； <BR>2、受过刑事处罚的，但过失犯罪的除外； <BR>3、被开除公职或者被吊销律师执业证书的;<BR>4、因违法违纪被公安机关辞退的。            </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-according.png"/>设定依据            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">1、《中华人民共和国律师法》；</h2>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">2、《律师执业管理办法》（中华人民共和国司法部令第112号）；</h2>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">3、《广东省司法厅关于律师执业许可的管理办法》（粤司办[2014]94号）。</h2>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-window-proc.png"/>窗口办理流程            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    1、申请人通过拟执业法律援助机构登陆广东律师管理在线网站（网址：http://www.gdlawyer.gov.cn/）下载《律师工作证呈报表》和《律师执业登记表》，按要求准备申报材料，向拟执业法律援助机构所在地地级以上市司法局提交申请；<BR>2、申请材料齐全、符合法定形式，受理申请机关应当受理，并为申请人出具受理通知书；<BR>3、受理申请机关对申请材料进行审查，出具审查意见，将审查意见连同相关申报材料（含书面及电子版材料）整理上报省司法厅；<BR>4、省司法厅对受理申请机关报送的审查意见和全部申请材料进行审核；<BR>5、省司法厅审核通过后作出准予许可决定，并制作律师工作证，通过地级以上市司法局颁发给申请人。<BR>6、申请人在递交申请材料时，可选择邮政特快专递送达本人行政审批决定书等材料和执业许可证件，并自行承担邮政特快专递的邮件资费和回执服务费。            </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-online-proc.png"/>网上办理流程            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    1、申请人通过拟申请执业法律援助机构登陆广东律师管理在线网站（www.gdlawyer.gov.cn），填报个人信息并发起申请业务；<BR>2、申请人拟通过执业法律援助机构将电子申请材料发送给受理申请机关；<BR>3、受理申请机关结合申请人提交的书面材料进行审查，符合条件的填写审查意见发送省司法厅；<BR>4、省司法厅经办人员接收电子材料并结合书面材料提出审查意见报分管领导；<BR>5、分管领导接收电子材料并结合书面材料和厅领导审批意见发送电子材料，完成网上审批流程；<BR>6、省司法厅经办人根据网上审批情况结合书面材料审核结果制作律师工作证，通过地级以上市司法局颁发给申请人。<BR>7、申请人在递交申请材料时，可选择邮政特快专递送达本人行政审批决定书等材料和执业许可证件，并自行承担邮政特快专递的邮件资费和回执服务费。            </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-material.png"/>申请材料            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    <table class="layui-table">
                        <colgroup>
                            <col width="90">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>1、《律师执业证呈报表》和《律师执业登记表》；</td>
                        </tr>
                        <tr>
                            <td>2、法律职业资格证书副本或律师资格证书、居民身份证、户口簿复印件；</td>
                        </tr>
                        <tr>
                            <td>3、律师协会出具的申请人有效的集中培训结业证书复印件和《广东省申请律师执业人员实习考核登记表》（有执业经历的不需提交）；</td>
                        </tr>
                        <tr>
                            <td>4、有人事管理权的部门出具的申请人国家公务员（事业单位人员）任职文件复印件或公务员（事业单位人员）身份证明原件；</td>
                        </tr>
                        <tr>
                            <td>5、所在单位所属司法行政部门同意申请人申请法律援助律师工作证或兼职法律援助律师工作证的证明原件；</td>
                        </tr>
                        <tr>
                            <td>6、申请人近期大一寸正装（非制服）免冠蓝底正面彩色相片一张；</td>
                        </tr>
                        <tr>
                            <td>7、承诺书。</td>
                        </tr>
                        <tr>
                            <td>法律援助机构聘用人员申请执业的，除提交上述第1、2、3、6、7项材料外，还需提交以下材料：</td>
                        </tr>
                        <tr>
                            <td>1、申请人户籍所在地公安机关出具的申请人在申请日之前未受过刑事处罚（过失犯罪的除外）的证明，证明出具日期离申请人向地级以上市司法局提交申请材料的时间最长不超过3个月；</td>
                        </tr>
                        <tr>
                            <td>2、法律援助机构为申请人购买社会保险的清单；</td>
                        </tr>
                        <tr>
                            <td>3、申请人在拟执业机构所在地存放人事档案证明材料复印件（具体包括人事档案保管合同及缴费凭证）；</td>
                        </tr>
                        <tr>
                            <td>4、与拟执业的法律援助机构签订的聘用合同，聘用合同需经法律援助机构所属司法行政部门加具意见并盖公章。</td>
                        </tr>
                        <tr>
                            <td>申请人的法律职业资格档案（含律师资格档案）、律师执业经历档案不在广东的，还需要提交法律职业资格档案（含律师资格档案）、律师执业经历档案，广东省司法厅为申请人调取档案提供便利。如申请人没有律师执业经历，只需提交法律执业资格档案（含律师资格档案）。</td>
                        </tr>
                        <tr>
                            <td>注：上述需提交的纸质材料统一用A4纸格式，所有材料都应当由申请人签名和填写提交日期；提交的材料都应当是原件（明确规定提交复印件的除外）；提交的复印件材料均应由初审机关（地级以上市司法局）核对原件，加盖“复印件与原件核对无误”印章，并由核对人签名或盖章（校对章格式为“XX市司法局公律科（处）核对人XXX”），并写明核对日期，其他单位和人员均不得在材料上签名盖章或作其他改动;提交材料有有效期限的，应在申请材料受理和审核期间内有效；提交的法律职业资格证书副本中的身份证号信息应与身份证、户口簿中所载的信息一致，不一致的，应提交有权机关出具的相关证明。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <h2 class="layui-colla-title"><img class="yzs-title-image"
                                                   src="assets/images/onestop/i-remark.png"/>备注            </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="layui-colla-content">
                    无            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
