
    <div class="blog-main">
        <div class="blog-main-left">
            <div class="article shadow">
                <div class="article-left">
                    <img src="http://up.adv.cc/upload/backend/article/atYJ7EyTJXq9GNHxRVRgTUoKd1OjwL1v1510821469.jpg" alt="码上好看测试" />
                </div>
                <div class="article-right">
                    <div class="article-title">
                        <a href="/article/detail?id=3&group=default">码上好看测试</a>
                    </div>
                    <div class="article-abstract">
                        码上好看测试码上好看测试码上好看测试码上好看测试码上好看测试码上好看测试码上好看测试                    </div>
                </div>
                <div class="clear"></div>
                <div class="article-footer">
                    <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-11-16 16:46:51</span>
                </div>
            </div>
        </div>
    </div>
